@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
$font1: Poppins, sans-serif;
$font2: Allura, sans-serif;
$font3: Roboto, sans-serif;

$color1: rgb(236, 230, 230);
$color2: whitesmoke;
$color3: black;
$color4: rgb(29, 28, 28);
$color5: rgb(124, 90, 27);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

li {
  list-style: none;
}

a,
a:visited {
  color: $color2;
}
