@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
}

li {
  list-style: none;
}

a,
a:visited {
  color: whitesmoke;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  min-height: 100vh;
  color: whitesmoke;
  text-align: center;
}
header nav {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  padding: 30px 0;
  margin-bottom: 150px;
}
@media screen and (max-width: 700px) {
  header nav {
    display: grid;
    grid-template-columns: 50% 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
header nav h3 {
  font-family: Allura, sans-serif;
  font-size: 3.5rem;
}
@media screen and (max-width: 1200px) {
  header nav h3 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 900px) {
  header nav h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 700px) {
  header nav h3 {
    text-align: left;
    font-size: 4rem;
  }
}
@media screen and (max-width: 700px) {
  header nav #navbar {
    display: none;
  }
}
header nav #navbar li {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav #navbar li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header nav ul li {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
}
@media screen and (max-width: 1200px) {
  header nav ul li {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 900px) {
  header nav ul li {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 700px) {
  header nav ul li {
    font-size: 1.5rem;
  }
}
header nav ul a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav ul a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
header .header-container {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
}
header .header-container h2 {
  color: rgb(161, 111, 17);
  font-family: Allura, sans-serif;
  font-size: 4rem;
  font-weight: 100;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
@media screen and (max-width: 630px) {
  header .header-container h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 550px) {
  header .header-container h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 430px) {
  header .header-container h2 {
    font-size: 2rem;
  }
}
header .header-container h1 {
  font-family: Poppins, sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 630px) {
  header .header-container h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 550px) {
  header .header-container h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 430px) {
  header .header-container h1 {
    font-size: 2rem;
  }
}
header .header-container h3 {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 50px;
  font-weight: 200;
}
@media screen and (max-width: 630px) {
  header .header-container h3 {
    font-size: 0.9rem;
    font-weight: 300;
  }
}
@media screen and (max-width: 550px) {
  header .header-container h3 {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 430px) {
  header .header-container h3 {
    font-size: 0.7rem;
  }
}

.discover-our-store {
  background: rgb(236, 230, 230);
  display: grid;
  grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 650px;
  height: 100%;
  max-height: 760px;
}
@media screen and (max-width: 700px) {
  .discover-our-store {
    grid-template-columns: 100%;
  }
}
.discover-our-store .discover-our-store-left-part-container {
  padding: 20px;
  width: 100%;
  height: 100%;
}
.discover-our-store .discover-our-store-left-part-container .discover-our-store-left-part {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
  border: 1px dashed rgb(161, 111, 17);
  padding: 40px 5px 20px;
}
.discover-our-store .discover-our-store-left-part-container .discover-our-store-left-part h2 {
  font-family: Allura, sans-serif;
  color: rgb(161, 111, 17);
  font-size: 3rem;
  font-weight: 100;
}
.discover-our-store .discover-our-store-left-part-container .discover-our-store-left-part h3 {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 1.7rem;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}
.discover-our-store .discover-our-store-left-part-container .discover-our-store-left-part span img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 30px 0 40px;
}
.discover-our-store .discover-our-store-left-part-container .discover-our-store-left-part p {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  margin-bottom: 30px;
}
.discover-our-store .discover-our-store-left-part-container .discover-our-store-left-part img {
  border-radius: 150px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}
.discover-our-store .discover-our-store-left-part-container .discover-our-store-left-part h4 {
  font-family: Poppins, sans-serif;
  font-size: 1.3rem;
}
.discover-our-store .discover-our-store-left-part-container .discover-our-store-left-part h5 {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  color: rgb(179, 176, 176);
  font-size: 1.1rem;
}
.discover-our-store .discover-our-store-right-part {
  background: url(../img/store-01.jpg) center/cover;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 700px) {
  .discover-our-store .discover-our-store-right-part {
    display: none;
  }
}

.food {
  background: url(../img/bg-menu-01.jpg) no-repeat;
  background-size: contain;
  background-position: bottom;
  background-color: rgb(29, 28, 28);
  text-align: center;
  padding: 80px 0 120px;
}
@media screen and (max-width: 1800px) {
  .food {
    background-size: auto;
  }
}
.food .food-section-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.food .food-section-container > h2 {
  color: rgb(161, 111, 17);
  font-family: Allura, sans-serif;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 50px;
}
.food .food-section-container span img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-bottom: 40px;
}
.food .food-section-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.food .food-section-container ul li {
  color: whitesmoke;
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  padding-bottom: 10px;
  position: relative;
}
@media screen and (max-width: 800px) {
  .food .food-section-container ul li {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  .food .food-section-container ul li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .food .food-section-container ul li {
    font-size: 0.8rem;
  }
}
.food .food-section-container ul li:hover::before {
  width: 140%;
}
.food .food-section-container ul li::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: whitesmoke;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.food .food-section-container .food-container {
  background: whitesmoke;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: repeat(4, 1f);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 950px;
  position: relative;
}
@media screen and (max-width: 1100px) {
  .food .food-section-container .food-container {
    grid-template-columns: 90%;
    min-height: 1500px;
  }
}
.food .food-section-container .food-container::before {
  content: "";
  width: 100%;
  height: 5px;
  background: rgb(161, 111, 17);
  position: absolute;
  top: 0;
  left: 0;
}
.food .food-section-container .food-container > div {
  display: grid;
  grid-template-columns: 30% 60%;
  border-bottom: 1px dashed rgb(161, 111, 17);
  padding: 15px 0 20px;
}
.food .food-section-container .food-container > div img {
  border-radius: 150px;
  margin: 0 auto;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media screen and (max-width: 1100px) {
  .food .food-section-container .food-container > div img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media screen and (max-width: 620px) {
  .food .food-section-container .food-container > div img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@media screen and (max-width: 500px) {
  .food .food-section-container .food-container > div img {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
.food .food-section-container .food-container > div .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  position: relative;
}
.food .food-section-container .food-container > div .text-container h2 {
  font-family: Poppins, sans-serif;
  color: black;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 100;
}
@media screen and (max-width: 1100px) {
  .food .food-section-container .food-container > div .text-container h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 800px) {
  .food .food-section-container .food-container > div .text-container h2 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 620px) {
  .food .food-section-container .food-container > div .text-container h2 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 500px) {
  .food .food-section-container .food-container > div .text-container h2 {
    font-size: 0.7rem;
  }
}
.food .food-section-container .food-container > div .text-container h3 {
  font-family: Roboto, sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: 100;
}
@media screen and (max-width: 1100px) {
  .food .food-section-container .food-container > div .text-container h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  .food .food-section-container .food-container > div .text-container h3 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 620px) {
  .food .food-section-container .food-container > div .text-container h3 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 500px) {
  .food .food-section-container .food-container > div .text-container h3 {
    font-size: 0.9rem;
  }
}
.food .food-section-container .food-container > div .text-container h4 {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: -17%;
  color: rgb(161, 111, 17);
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}
@media screen and (max-width: 1100px) {
  .food .food-section-container .food-container > div .text-container h4 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  .food .food-section-container .food-container > div .text-container h4 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 620px) {
  .food .food-section-container .food-container > div .text-container h4 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 500px) {
  .food .food-section-container .food-container > div .text-container h4 {
    font-size: 0.9rem;
  }
}

.footer {
  background: url(../img/gmap.jpg) no-repeat bottom;
  background-size: 100% 20%;
  background-color: rgb(29, 28, 28);
  text-align: center;
  padding: 90px 0 280px;
}
.footer .section-1 {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto 50px;
}
@media screen and (max-width: 1100px) {
  .footer .section-1 {
    grid-template-columns: 1fr;
    margin: 0 auto 120px;
  }
}
.footer .section-1 .time-open {
  background: black;
  padding: 30px;
}
.footer .section-1 .time-open .time-open-container {
  border: 1px dashed rgb(236, 230, 230);
  padding: 0 0 30px;
}
.footer .section-1 .time-open .time-open-container .header h2 {
  margin: 40px 0 0;
  font-family: Allura, sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 3rem;
}
.footer .section-1 .time-open .time-open-container .header h3 {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  color: rgb(236, 230, 230);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-bottom: 30px;
}
.footer .section-1 .time-open .time-open-container span img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  margin-bottom: 40px;
}
.footer .section-1 .time-open .time-open-container h2 {
  font-family: Poppins, sans-serif;
  color: rgb(161, 111, 17);
  font-size: 1.4rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 300;
}
.footer .section-1 .time-open .time-open-container h3,
.footer .section-1 .time-open .time-open-container h4 {
  color: rgb(236, 230, 230);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 100;
}
.footer .section-1 .time-open .time-open-container h4 {
  margin-bottom: 40px;
}
.footer .section-1 .online-booking {
  background: whitesmoke;
}
@media screen and (max-width: 1100px) {
  .footer .section-1 .online-booking {
    height: 600px;
  }
}
@media screen and (max-width: 800px) {
  .footer .section-1 .online-booking {
    height: 900px;
  }
}
.footer .section-1 .online-booking h3 {
  margin-top: 90px;
  font-family: Allura, sans-serif;
  font-size: 3.5rem;
  color: rgb(161, 111, 17);
  font-weight: 100;
}
@media screen and (max-width: 450px) {
  .footer .section-1 .online-booking h3 {
    font-size: 3rem;
  }
}
.footer .section-1 .online-booking h2 {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  color: rgb(29, 28, 28);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2.5rem;
}
@media screen and (max-width: 450px) {
  .footer .section-1 .online-booking h2 {
    font-size: 2rem;
  }
}
.footer .section-1 .online-booking span img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  margin-bottom: 50px;
}
.footer .section-1 .online-booking form {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 20% 20% 60%;
  max-width: 80%;
  margin: 0 auto;
  gap: 25px;
  grid-template-areas: "ge da ti" "na te em" "su su su";
}
@media screen and (max-width: 800px) {
  .footer .section-1 .online-booking form {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 100px;
    grid-template-areas: "ge" "da" "ti" "na" "te" "em" "su";
  }
}
.footer .section-1 .online-booking form .form,
.footer .section-1 .online-booking form select {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  background: transparent;
  border: transparent;
  border-bottom: 1px solid rgb(179, 176, 176);
  outline: none;
  font-size: 1.2rem;
}
.footer .section-1 .online-booking form #gender {
  grid-area: ge;
}
.footer .section-1 .online-booking form #date {
  grid-area: da;
}
.footer .section-1 .online-booking form #time {
  grid-area: ti;
}
.footer .section-1 .online-booking form #name {
  grid-area: na;
  color: rgb(179, 176, 176);
}
.footer .section-1 .online-booking form #tel {
  grid-area: te;
  color: rgb(179, 176, 176);
}
.footer .section-1 .online-booking form #email {
  grid-area: em;
  color: rgb(179, 176, 176);
}
.footer .section-1 .online-booking form #submit {
  display: inline-block;
  text-align: center;
  margin: 40px auto 0;
  grid-area: su;
  background: rgb(29, 28, 28);
  color: whitesmoke;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  padding: 0 50px;
  border-radius: 50px;
  letter-spacing: 5px;
}
.footer .section-2 {
  width: 90%;
  max-width: 1400px;
  margin: 170px auto 0;
  padding-bottom: 180px;
}
@media screen and (max-width: 1100px) {
  .footer .section-2 {
    display: none;
  }
}
.footer .section-2 > h2 {
  font-family: Allura, sans-serif;
  font-size: 3.5rem;
  color: rgb(161, 111, 17);
  font-weight: 100;
}
.footer .section-2 > h3 {
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  color: rgb(236, 230, 230);
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.footer .section-2 > span img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  margin-bottom: 60px;
}
.footer .section-2 .part-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 230px 230px;
  grid-template-areas: "pa1 pa3" "pa2 pa3";
  gap: 20px;
}
.footer .section-2 .part-container .part-1,
.footer .section-2 .part-container .part-2 {
  display: grid;
  grid-template-columns: 35% 65%;
}
.footer .section-2 .part-container .part-1 .left,
.footer .section-2 .part-container .part-2 .left {
  position: relative;
}
.footer .section-2 .part-container .part-1 .left .date-container,
.footer .section-2 .part-container .part-2 .left .date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  height: 120px;
  width: 120px;
  margin: 0 auto;
  background: rgb(29, 28, 28);
  color: rgb(236, 230, 230);
}
.footer .section-2 .part-container .part-1 .left .date-container h2,
.footer .section-2 .part-container .part-2 .left .date-container h2 {
  font-family: Poppins, sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
}
.footer .section-2 .part-container .part-1 .left .date-container h3,
.footer .section-2 .part-container .part-2 .left .date-container h3 {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}
.footer .section-2 .part-container .part-1 .right,
.footer .section-2 .part-container .part-2 .right {
  background: rgb(236, 230, 230);
  font-family: Roboto, sans-serif;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px 0;
}
.footer .section-2 .part-container .part-1 .right h2,
.footer .section-2 .part-container .part-2 .right h2 {
  font-size: 1.9rem;
  font-weight: 300;
  margin: 0 0 0 35px;
  letter-spacing: 3px;
}
.footer .section-2 .part-container .part-1 .right h3,
.footer .section-2 .part-container .part-2 .right h3 {
  font-size: 1.2rem;
  color: rgb(179, 176, 176);
  margin-left: 30px;
  letter-spacing: 3px;
  font-weight: 100;
}
.footer .section-2 .part-container .part-1 .right a,
.footer .section-2 .part-container .part-1 .right a:visited,
.footer .section-2 .part-container .part-2 .right a,
.footer .section-2 .part-container .part-2 .right a:visited {
  display: inline-block;
  margin: 0 0 0 35px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}
.footer .section-2 .part-container .part-1 {
  grid-area: pa1;
}
.footer .section-2 .part-container .part-1 .left {
  background: url(../img/event-01.jpg) no-repeat center/cover;
}
.footer .section-2 .part-container .part-2 {
  grid-area: pa2;
}
.footer .section-2 .part-container .part-2 .left {
  background: url(../img/event-02.jpg) no-repeat center/cover;
}
.footer .section-2 .part-container .part-3 {
  grid-area: pa3;
  background: url(../img/event-03.jpg) no-repeat center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .section-2 .part-container .part-3 .container {
  height: 90%;
  width: 90%;
  background: rgb(236, 230, 230);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 160px 0 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Roboto, sans-serif;
}
.footer .section-2 .part-container .part-3 .container > h2 {
  font-size: 1.6rem;
  max-width: 70%;
  margin: 0 auto;
  font-weight: 100;
  letter-spacing: 3px;
}
.footer .section-2 .part-container .part-3 .container > h3 {
  font-size: 1.2rem;
  color: rgb(179, 176, 176);
  letter-spacing: 3px;
  font-weight: 100;
}
.footer .section-2 .part-container .part-3 .container > a,
.footer .section-2 .part-container .part-3 .container a:visited {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}
.footer .section-2 .part-container .part-3 .container .date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 120px;
  width: 120px;
  margin: 0 auto;
  background: rgb(29, 28, 28);
  color: rgb(236, 230, 230);
}
.footer .section-2 .part-container .part-3 .container .date-container h2 {
  font-family: Poppins, sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
}
.footer .section-2 .part-container .part-3 .container .date-container h3 {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}
.footer .section-3 {
  background: rgb(236, 230, 230);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 90px 0 40px;
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}
.footer .section-3 span img {
  border-radius: 150px;
  max-height: 80px;
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer .section-3 p {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  max-width: 85%;
  margin: 0 auto 40px;
  line-height: 50px;
}
.footer .section-3 h2 {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 40px;
}
.footer .section-3 h3 {
  color: rgb(161, 111, 17);
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
}/*# sourceMappingURL=index.css.map */