footer {
  background: url(../img/bg-footer.jpg) no-repeat center/cover;
  @media screen and (max-width: 800px) {
    background: $color4;
  }
  .container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    min-height: 350px;
    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }

    .left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      @media screen and (max-width: 800px) {
        display: none;
      }

      h2 {
        font-family: $font2;
        font-size: 3rem;
        font-weight: 100;
        color: $color5;
        margin-bottom: 20px;
      }
      p {
        width: 90%;
        font-family: $font3;
        font-size: 1.2rem;
        font-weight: 100;
        line-height: 40px;
        color: $color6;
      }
    }
    .right {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50% 50%;

      .part2 {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 50px;
      }
      .part1 {
        padding-left: 50px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
      }
      h2 {
        font-family: $font1;
        font-weight: 500;
        font-size: 1.3rem;
        margin: 0 10px 0 0;
        color: $color1;
        text-transform: uppercase;
      }
      input {
        margin-top: 10px;
        width: 60%;
        background: none;
        border: 1px solid $color6;
        font-size: 1rem;
        color: $color6;
        font-family: $font3;
        font-weight: 100;
        padding: 10px;
      }
      ul {
        display: flex;
        justify-content: space-around;
        width: 40%;
        color: $color6;
      }
    }
  }
}
